$color-primary: #111;
$color-primary-light: #141414;
$color-primary-dark: #540000;

$color-secondary-light: #fba964;
$color-secondary-dark: #542600;

$color-tertiary-light: #419dd9;
$color-tertiary-dark: #035388;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #cec8c8;

$color-grey-dark-1: #c4c4c4;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: azure;
$color-black: #111;

$box-shadow: 0 1.5em 4rem rgba($color-black, $alpha: 0.15);
$box-shadow-2: 0 0.5rem 1rem rgba($color-black, 0.2);
$box-shadow-3: 0 1rem 2rem rgba($color-black, 0.2);

//Font
$default-font-size: 1.6rem;
